
table, tr, td {
	border: 1px solid black;
  	border-collapse: collapse;}

table {         
    height: 100vh;
    table-layout:fixed;
    width: 100%;} 


th, td {
    padding: 10px;
    text-align: left;}
    
@media screen and (max-width: 768px) {
    table {
    display: block; 
    width: 100%;
    overflow-x: auto;} 

th, td {
    display: block; 
    text-align: right; }  } 
    
@media screen and (max-width: 480px) {
    th, td {
        padding: 10px;}
    
    table {
        font-size: 0.9rem;} 
    }    